---
layout: default
---

<div class="home">

  <h1 class="page-heading">Polyhedral Computation in Julia</h1>

  <p>{{ site.description }}</p>

  <h2>List of libraries</h2>
  The following table provides a list of Polyhedra Manipulation Libraries.
  When they have a Julia library implementing the interface of `Polyhedra.jl` then the "Library" column shows the name of the library.

  {% capture libraries-table %}{% include libraries-table.md %}{% endcapture %}
  {{ libraries-table | markdownify }}

  Please let me know if you plan to write a new wrapper (or an implementation in pure Julia).
  Since libraries use different algorithms, no library is better for every problem; <a href="http://cgm.cs.mcgill.ca/~avis/doc/avis/ABS96a.ps">here</a> and <a href="http://bugseng.com/products/ppl/performance">here</a> are comparisons.

</div>
