---
layout: default
---

<div class="home">

  <h1 class="page-heading">Polyhedral Computation in Julia</h1>

  <p>{{ site.description }}</p>

  <h2>List of libraries</h2>
  The following table provides a list of Polyhedra Manipulation Libraries.
  When they have a Julia library implementing the interface of <code>Polyhedra.jl</code> then the "Julia Package" column shows the name of the package.
  By convention, if the name of the package is <code>X</code>, the name of the libary is <code>X.Library</code>.
  For instance, the CDD library can be created with <code>CDDLib.Library()</code>.
  Some libraries have options such as the solver they use to solve linear programs or
  the arithmetic they use.
  For instance, to use CDD with exact arithmetic, do <code>CDDLib.Library(:exact)</code>.
  The call <code>CDDLib.Library()</code> is equivalent to <code>CDDLib.Library(:float)</code>.

  {% capture libraries-table %}{% include libraries-table.md %}{% endcapture %}
  {{ libraries-table | markdownify }}

  Please let me know if you plan to write a new wrapper (or an implementation in pure Julia).
  Since libraries use different algorithms, no library is better for every problem; <a href="http://cgm.cs.mcgill.ca/~avis/doc/avis/ABS96a.ps">here</a> and <a href="http://bugseng.com/products/ppl/performance">here</a> are comparisons.

</div>
